# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### *Objectives:*
* List popular languages that Data Scientists use
* Some common used libraries by Data Scientists
* Few examples of evaluating arithmetic expressions in Python

## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Java

# Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. plotly
3. pandas
4. matplotlib
5. numpy

|Data Science|
--------------
|Jupyter Notebook|
|Hadoop|
|Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
x = (3*4)+5
print("Result is", x)

Result is 17

In [3]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335